form {
  text-align: center;
  vertical-align: middle;
}

.form-group {
  padding-bottom: 20px;
}
input {
  border-radius: 12px;
  margin-bottom: 10px;
}
html {
  height: 100%;
  margin: 0;
}
body {
  height: 100%;
  margin: 0;
}

.full-height {
  height: 100%;
  background: yellow;
}
